*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	border: 0;
	outline: 0;
	user-select: none;
	color: #000000 !important;
}
.form{
	margin: 1em;
	padding: 0.75em;
	background-color: #dedede;
	border-radius: 0.5em;
}
.form input{
	margin: 0.25em;
	padding: 0.2em 1em;
	border-radius: 0.5em;
	background-color: #aaaaaa;
	color: #ffffff;
	font-weight: bolder;
	color: #ffffff !important;
}
.form input::placeholder{
	color: #ffffff;
}
#lists{
	height: 25em;
	max-height: 25em;
	overflow-y: scroll;
}
.bottom{
	position: absolute;
	bottom: 1em;
	left: 1em;
	right: 1em;
}
.bottom input{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.chats{
	text-align: justify;
}
.msg{
	display: inline-block;
}
.top{
	vertical-align: top;
}