:root{
	--body-background: #adecad;
	--base-background: #4cee4c;
	--input-background: #009e00;
	--input-color: #ffffff;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	border: 0;
	user-select: none;
	outline: 0;
}

body{
	background-color: var(--body-background);
}

.form{
	background-color: var(--base-background);
	margin: 0.5em;
	padding: 0.75em;
	border-radius: 0.25em;
}

.form input{
	background-color: var(--input-background);
	color: var(--input-color);
	padding: 0 0.5em;
	font-family: 'Times New Roman', Times, serif;
	border-radius: 0.5em;
}

#lists{
	display: flex;
	flex-direction: column;
	max-height: 20em;
	overflow-y: scroll;
}

#lists .name{
	font-family: 'Times New Roman', Times, serif;
	font-variant: small-caps;
	font-size: x-small;
	font-weight: bold;
}

#lists .chats, #lists .reply{
	background-color: var(--body-background);
	max-width: 75%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 0.5em;
	padding: 0.25em;
	margin: 0.25em 0;
}

#lists .reply{
	background-color: var(--input-background);
}

#lists .you, #lists .ryou, #lists .nreply{
	align-self: flex-end;
}

.bottom{
	position: fixed;
	bottom: 0.5em;
	left: 0.5em;
	right: 0.5em;
}

.bottom input, .form input[type='submit']{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form input::placeholder{
	color: var(--input-color);
}
audio{
	width: 100%;
	height: 0.75em;
}