:root{
	--body-background: #fafbfc;
	--body-color: #000000;
	--base-background: #aaabac;
	--reply-background: #5a5b5c;
	--reply-color: #ffffff;
	--input-background: #131320;
	--input-color: #ffffff;
	--chat-color: #000000;
	--you-background: #131320;
	--you-color: #ffffff;
	/*
	--body-background: #ecadad;
	--base-background: #ee4c4c;
	--reply-background: #ff5e5e;
	--input-background: #9e0000;
	--input-color: #ffffff;
	*/
}
*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
	border: 0;
	user-select: none;
	outline: 0;
}

body{
	background-color: var(--body-background);
	color: var(--body-color);
}

.form{
	background-color: var(--base-background);
	margin: 0.5em;
	padding: 0.75em;
	border-radius: 0.25em;
}

.form input{
	background-color: var(--input-background);
	color: var(--input-color);
	padding: 0 0.5em;
	font-family: 'Times New Roman', Times, serif;
	border-radius: 0.5em;
}

#lists{
	display: flex;
	flex-direction: column;
	max-height: 20em;
	overflow-y: scroll;
	padding: 0.5em;
}

#lists .name{
	font-family: 'Times New Roman', Times, serif;
	font-variant: small-caps;
	font-size: x-small;
	font-weight: bold;
}

#lists .chats, #lists .reply, #reply{
	background-color: var(--body-background);
	max-width: 75%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 0.5em;
	padding: 0.25em;
	margin: 0.25em 0;
	color: var(--chat-color);
}

#lists .reply{
	background-color: var(--reply-background);
	color: var(--reply-color);
	margin-bottom: -0.5em;
	font-weight: bold;
}

#lists .you, #lists .ryou, #lists .nreply{
	align-self: flex-end;
}

#lists .you{
	background-color: var(--you-background);
	color: var(--you-color);
}

.bottom{
	position: fixed;
	bottom: 0.5em;
	left: 0.5em;
	right: 0.5em;
}

.bottom input, .form input[type='submit']{
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form input::placeholder{
	color: var(--input-color);
}

#reply{
	display: none;
	width: 100%;
	max-width: 100%;
}

audio{
	color: var(--input-background) !important;
	width: 100%;
	height: 0.75em;
}

#showAudio{
	display: none;
}

::-webkit-scrollbar{
	width: 0.5em;
}
::-webkit-scrollbar-track{
	border-radius: 1em;
	background-color: var(--input-background);
}
::-webkit-scrollbar-thumb{
	border-radius: 1em;
	background-color: var(--body-background);
}

@media only screen and (max-width: 768px) {
	::-webkit-scrollbar{
		width: 0.25em;
	}
}