@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	user-select: none;
}

main{
	display: grid;
	grid-auto-flow: column;
	grid-gap: .5em;
	grid-template-areas:
	"header header header"
	"rules panel panel"
	"footer footer footer";
}

main > * {
	border: 1px red solid;
}

header{
	grid-area: header;
}

#rules{
	grid-area: rules;
	overflow: scroll;
	font-size: x-small;
}

#panel{
	grid-area: panel;
}

#panel > *{
	display: flex;
	flex-direction: column;
}

footer{
	grid-area: footer;
	text-align: center;
}

#username{
	margin: 0 .5em;
}

#panelTitle{
	text-align: center;
}

.input{
	box-shadow: 3px 3px 5px #90000000;
	border: 1px #000000 solid;
	border-radius: .25em;
	margin: .25em .25em;
	padding: 0 .25em; /* v h */
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
}

.input > *{
	background-color: transparent;
	border: 0;
}

.input > input{
	background-color: transparent;
    width: 100%;
	margin: 0 .25em;
}

.input > #showPassword{
	cursor: pointer;
}