@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
:root{
	--body-background: #fafbfc;
	--body-img-background: url("https://img.freepik.com/premium-photo/abstract-background-layout-whatsapp-phone-application-with-chat-profile-web-3d-rendering_368797-242.jpg?w=996");
	--body-color: #000000;
	--background-position: right;
	--base-background: #fafbfc50;
	--reply-background: #5a5b5c;
	--reply-color: #ffffff;
	--input-background: #131320;
	--input-color: #ffffff;
	--chat-color: #000000;
	--you-background: #131320;
	--you-color: #ffffff;
	--audio-progress-background: #131320;
	--audio-progress-color: #fafbfc;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	user-select: none;
	outline: 0;
}

body{
	background-color: var(--body-background);
	background-image: var(--body-img-background);
	color: var(--body-color);
	background-size: 200%;
	background-repeat: no-repeat;
	background-position: var(--background-position);
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.container > .form{
	background-color: var(--base-background);
	backdrop-filter: blur(10px);
	width: 50%;
	box-shadow: 3px 3px 5px var(--body-color);
	margin: 1em;
	padding: .5em;
	border-radius: .5em;
}

.container > .form > .input{
	display: flex;
	flex-direction: row;
	/* border: 1px var(--body-color) solid; */
	border-radius: .5em;
	padding: 0 .5em;
	font-size: large;
	box-shadow: 3px 3px 5px var(--body-color);
	margin: .75em 0;
}

.container > .form > .input > input, .container > .form > input{
	background-color: transparent;
	width: 100%;
}

.container > .form > input{
	text-align: center;
	border-radius: .5em;
	padding: 0 .5em;
	font-size: large;
	box-shadow: 3px 3px 5px var(--body-color);
	margin: .75em 0;
}

audio{
	display: none;
	width: 0;
	height: 0;
}

.container > .form > .musicPanel{
	display: flex;
	flex-direction: row;
}

.container{
	display: flex;
	flex-direction: row;
}

.container > .left{
	align-self: self-start;
}

.container > .right{
	align-self: self-start;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.container > .right > #lists{
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	margin-top: 1em;
	height: 70vh;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-y: scroll;
}

#lists .name{
	font-family: 'Times New Roman', Times, serif;
	font-variant: small-caps;
	font-size: x-small;
	font-weight: bold;
}

#lists .chats, #lists .reply{
	background-color: var(--body-background);
	align-self: flex-start;
	max-width: 75%;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	margin: 0.25em 0;
	color: var(--chat-color);
}

#lists .reply{
	max-height: 5em !important;
	overflow-y: hidden;
}

.container > .form > #cform{
	 display: flex;
	 flex-direction: column;
	 height: 10vh;
}

.container > .form > #cform > #reply{
	background-color: var(--reply-background);
	color: var(--reply-color);
	max-lines: 1;
	max-height: 2em;
	overflow: hidden;
	border-radius: .5em;
	padding: .5em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.container > .form > #cform > input{
	width: 100%;
	background-color: transparent;
	border: 1px var(--body-color) solid;
	border-radius: .5em;
	padding: .5em;
}
